@import "node_modules/bootstrap-material-design/less/bootstrap-material-design";
@import "../_less/variables";
@import "../_less/navbar";

@good-blue: rgb( 119, 159, 168 );
@bad-red: rgb( 191, 30, 29 );

body {
    text-transform: uppercase;
}

body div.row a {
  text-decoration: underline;
  color: @red-800;
}

body div.row a.btn {
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}

.tooltip {
  color: white;
}

.tooltip div {
  background-color: @brand-pop;
  color: white;
  border: none;
}

.form-group .help-block {
    display: block;
    color: @bad-red;
}

.unlocked-front form {
    
    div.form-group {
        width: 100%;
    }

    legend {
        text-transform: uppercase;
        text-align: center;
    }

    input[type=text].user-name {
        width: 100%;
    }
}

table.table {
    thead tr th {
        text-transform: uppercase
    }

    td {
        font-size: 16pt;
    }

    td img.avatar {
        width: 16pt;
        margin-right: 5px;
    }

    td.when {
        font-size: 10pt;
        padding-top: 18pt;
    }
}

ul {
    list-style-type: none;
}

div.score-list {
    h6 {
        text-align: center;
        margin-bottom: 20px;
    }
}

div.profile {
    margin-top: 5px;
    font-size: 16pt;

    div {
        display: inline-block;
        padding: 10px;
        color: white;
        
        &.data {
            float: left;
            font-size: 10pt;
            padding-top: 12pt;
            width: 180px;
            padding-left: 20px;
            padding-right: 20px;
        }

        &.avatar {
            float: left;
            width: 50px;

            img {
                margin-top: -4px;
                width: 30px;
            }
        }

        &.name {
            background-color: fade(@brand-primary, 70%);
            display: block;
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
            padding-left: 230px;

            a {
                text-decoration: none;
                color: white;
            }
        }        
    }
}

div.profile-mini {
    font-size: 16pt;

    div {
        display: inline-block;
        padding: 10px;
        color: white;

        &.avatar {
            float: left;
            width: 50px;

            img {
                margin-top: -4px;
                width: 30px;
            }
        }

        &.name {
            background-color: fade(@brand-primary, 70%);
            display: block;
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
            padding-left: 50px;

            a {
                text-decoration: none;
                color: white;
            }
        }        
    }
}